<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @feed.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.User %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
