<%= form_for(@buddy) do |f| %>
  <% if @buddy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buddy.errors.count, "error") %> prohibited this buddy from being saved:</h2>

      <ul>
      <% @buddy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :can_feed %><br>
    <%= f.check_box :can_feed %>
  </div>
  <div class="field">
    <%= f.label :can_schedule %><br>
    <%= f.check_box :can_schedule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
