

<h1>My Buddies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Register</th>
      <th>Can feed</th>
      <th>Can schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buddies.each do |buddy| %>
      <tr>
        <td><%= buddy.username %></td>
        <td><%= buddy.register.name %></td>
        <td><%= buddy.can_feed %></td>
        <td><%= buddy.can_schedule %></td>
        
        <td><%= link_to 'Edit', edit_buddy_path(buddy) %></td>
        <td><%= link_to 'Delete', buddy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buddy', new_buddy_path %>
