   <div class = "menu">   
<ul>
<li><%= link_to 'Edit', edit_register_path(@register) %></li>
<li><%= link_to 'Back', registers_path %></li>
<li><%= link_to 'Buddies', buddies_path %></li>
      </ul>
  </div>

<div class = "grid-row">
<table style="
    width: 100%;
">
<tr>
<td>
      <div class ="arr"> 
<%= image_tag @register.image.url(:large) %>
</div>
</td>
<td>
<div class = "pet_text" >
<p>
  
  <%= @register.name %>
</p>
<p>
  <strong>Breed:</strong>
  <%= @register.breed %>
</p>

<p>
  <strong>Species:</strong>
  <%= @register.species %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @register.gender %>
</p>

<p>
<strong>Date Of Birth:</strong>
  <%= @register.date_of_birth %>
</p>

      <% pet_id = @register.id %>
      <% Rails.cache.write(:pet_id, pet_id) %>
      
      
</div>
 
</div>
</td>
<td>




            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding"style="
    border-radius: 20px;
">
  <div class="aal
  ">
    <img src="../app/assets/images/Camera.jpg">
</div>
  <div class="grid-col-12 grid-col--align-center">
    <hr>
    <h3>check on them any time</h3>
  </div>
  <div class="grid-col-12 grid-col--align-center grid-col--no-margin">
    <div class="last-progress margin-top-bottom--1">
      <small>camera allow you to see them </small>

    </div>
  </div>
  

  <a href="#"></a>

</article>
</td>
</tr>
</table>