
      <!--user menu-->
      <div class="menu">
      <div class="mm">
    
     

      <div class="sign up">
       <ul >
       <!--links go here-->
<li><%= link_to 'Edit', edit_register_path(@register) %></li>
<li><%= link_to 'Back', registers_path %></li>

<li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
      </div> </div>
    </div>
    <!--header-->

     


   <div class = "body">
<div class = "pet" >

<div class = "grid-row">

<table style="
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
">

<tr>
<td>
      <div class ="arr"> 
<%= image_tag @register.image.url(:large) %>
</div>
</td>

<td >




            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding"style="
    border-radius: 20px;
">
  <div class="aal
  ">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2013/05/Analog-Camera-for-iOS-app-icon-full-size.jpg" width="100" height="100"/> 
</div>
  <div class="grid-col-12 grid-col--align-center">
    <hr>
    <h3>check on them any time</h3>
  </div>
  <div class="grid-col-12 grid-col--align-center grid-col--no-margin">
    <div class="last-progress margin-top-bottom--1">
      <small>camera allow you to see them </small>

    </div>
  </div>
  

  <a href="#"></a>

</article>
</td>
</tr>
</table>






<table style = "
width:90%;
margin:auto; 
">
<tr>
<td>

<div class = "pet_text">
<p>
  
  <%= @register.name %>
</p>
<p>
  <strong>Breed:</strong>
  <%= @register.breed %>
</p>

<p>
  <strong>Species:</strong>
  <%= @register.species %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @register.gender %>
</p>

<p>
<strong>Date Of Birth:</strong>
  <%= @register.date_of_birth %>
</p>

      <% pet_id = @register.id %>
      <% Rails.cache.write(:pet_id, pet_id) %>
      
      
</div>
<div class="pet_b">

    <% @buddies.each do |buddy| %>
    
 <h1>My Buddies</h1>
        <h1><%= buddy.username %>
        <%= link_to 'Edit', edit_buddy_path(buddy) %>
        <%= link_to 'Delete', buddy, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <div class="button">
      <a href="/buddies/new">Add Buddy</a>
      </div>
</div>
<% end %>
</td>
<td>

</td>
</tr>
 </table>
</div>

 <div class = 'edit'>   
<h2>

<td><%= link_to 'Edit', edit_register_path(@register) %></td>
      <td><%= link_to 'Delete', register_path(@register),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</h2>
</div>


