<div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src='close.png'>
      </div>

<!-- Menu -->
      <ul >
<div class="li0"><li id="0">SIM</li></div>      

<li><%= link_to 'Edit', edit_register_path(@register) %></li>
<li><%= link_to 'Back', registers_path %></li>
<li><%= link_to 'Buddies', buddies_path %></li>
      </ul>
    </div>
<div class="video">
 <div class="icon-close">
        <img src='close.png'>
      </div>
      
<div class="sim">
<div class="sim_win">
<div class="box" id="pool"></div>
<div class="food"></div>
<div class="container" id="pool">
  <div class="tuna" id="pool"></div>
</div>
</div>
</div>
</div>

      
    <!-- Main body -->
    <div class="jumbotron">

      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
      </div>
   <div class="signup">
  <div class="text1">
 <%= form_tag("/registers/register1") do %>
  <%= label_tag(:text2, "Register a device using ID") %>
  <%= text_field_tag :text2 %>
  <% pet_id = @register.id %>
  <% Rails.cache.write(:pet_id, pet_id) %>
  <%= submit_tag "Register" %>
  <% end %>

<p>
<%= image_tag @register.image.url(:large) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @register.name %>
</p>
<p>
  <strong>Breed:</strong>
  <%= @register.breed %>
</p>

<p>
  <strong>Species:</strong>
  <%= @register.species %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @register.gender %>
</p>

<p>
<strong>Date Of Birth:</strong>
  <%= @register.date_of_birth %>
</p>
<div class="button">

      <p>
      <a href="#">
        feed now
      </a>
      </p>
      </div>
<div class="button">
      <% pet_id = @register.id %>
      <% Rails.cache.write(:pet_id, pet_id) %>
      <%= link_to 'Add Buddy', new_buddy_path %>
      </div>

 </div>
</div>