


      <header id="header">
<!--this class is for the navigation bar ,logo and sign up and menu bar-->
  <article class="fit-fixed" id="header__nav-container">
    <div id="header__nav" class="grid-col-12 grid-row grid-col--no-spacing">
      


        <div class="header__dynamic-width-col">
            <a id="header__menu-me" class="js-toggle-profile-dropdown header__nav__link">
              <div id="user-dropdown" class="header__nav__link__label">
                
                <h5>
                 SIGN UP ☰
                  </h5>
              </div>
            </a>
        </div>


            <div id="header__notifications" class="header__dynamic-width-col" exclude="phone">
                          </div>




      </div>


 <div id="header__logo">
    <table><tr><td>
      <a href="#" id="header__logo__link">
        <img class="logo__image--full no-rescale" src="https://lh3.googleusercontent.com/TfvFMFe9j9ezkuuVZf8_hQ7ZNcX-xzFdWF4fnyLfgNjkGyTsGYjFRj4maBdPvo41PDBQrg=s85">

</a> </td><td>   <p>CLOUDPET</p>
</td></tr></table>
</div>


  </article>
  
</header>
<div class="menu">
      <div class="mm">
      <!-- Menu icon -->
     

      <div class="sign up">
        <h1>Sign Up</h1>
        
     
     

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class = "field">
    <%= f.label :gender%> <br/>
    <%= f.text_field :gender%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, :start_year => 1900, :end_year =>Date.current.year  %>
  </div>
  <div class="actions">
  </br>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

    </div> </div>
    </div>



 
      



    <div class="grid-row">
      <div class="grid-col-6 grid-col--center grid-col--align-center grid-col--extra-margin-top">
        <div class="avatar
   avatar--large
  ">
    <img src="https://lh3.googleusercontent.com/TfvFMFe9j9ezkuuVZf8_hQ7ZNcX-xzFdWF4fnyLfgNjkGyTsGYjFRj4maBdPvo41PDBQrg=s85">
</div>

        <p>
          </p><h3>
            CloudPet
          </h3>
        <p>

Rex has never been safer !
</p>
       
  <h1>Login to CloudPet</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

      </div>
    </div>
 


  <div class="fit-fixed">
    <div class="grid-row">
   <div class="grid-col-6 grid-col--center grid-col--align-center grid-col--extra-margin-top">
        <div class="container">
    <div class="login">
    

       
    </div>

    
  </div>
      </div>
    </div>
  </div>




  

  <div >
    <div class="fit-fixed grid-row">
   
          <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--center">
            <div class="grid-row" style="
    background: #201020;
    border-radius: 40px;
">
              <div class="grid-col-3"></div>
              <div class="grid-col-6 grid-col--align-center">
                <h3>KNOW MORE</h3>
              </div>
                
            </div>
          </div>
            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding" style="

    border-radius: 20px;  background-color: rgba(0,0,0,0.5);

">
  <div class="aal
  ">
    <img src="http://www.pets4homes.co.uk/images/articles/1826/large/how-to-make-dry-dog-food-more-appealing-to-your-dog-53bacc6b81ed7.jpg">
</div>
  <div class="grid-col-12 grid-col--align-center">
    <hr>
    <h3>feeding...not a problem </h3>
  </div>
  <div class="grid-col-12 grid-col--align-center grid-col--no-margin">
    <div class="last-progress margin-top-bottom--1">
      <small>with cloudpet</small>

    </div>
  </div>
  

  <a href="#"></a>

</article>

            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding"style="
    border-radius: 20px;  background-color: rgba(0,0,0,0.5);

">
  <div class="aal
  ">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2013/05/Analog-Camera-for-iOS-app-icon-full-size.jpg">
</div>
  <div class="grid-col-12 grid-col--align-center">
    <hr>
    <h3>check on them any time</h3>
  </div>
  <div class="grid-col-12 grid-col--align-center grid-col--no-margin">
    <div class="last-progress margin-top-bottom--1">
      <small>camera allow you to see them </small>

    </div>
  </div>
  

  <a href="#"></a>

</article>

            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding"style="
    border-radius: 20px;  background-color: rgba(0,0,0,0.5);

">
  <div class="aal
  ">
    <img src="http://wcpadventure.com//wp-content/uploads/2013/03/calendar-schedule.gif">
</div>
  <div class="grid-col-12 grid-col--align-center">
    <hr>
    <h3>having a busy day leave it to us</h3>
  </div>
  <div class="grid-col-12 grid-col--align-center grid-col--no-margin">
    <div class="last-progress margin-top-bottom--1">
      <small>schedule the feeding</small>

    </div>
  </div>
  

  <a href="#"></a>

</article>

          <div class="grid-col-12 grid-col--align-center">
            
          </div>
      </article>
    </div>
  </div>

   
