<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @device.User.first_name %>
</p>

<p>
  <strong>Register:</strong>
  <%= @device.Register.name %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
