<h1>Listing Pets</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Image</th>
  </tr>
 
  <% @register.each do |register| %>
    <tr>
      <td><%= register.name %></td>
      <td><%= register.noo3 %></td>
      <td><%= image_tag register.image.url(:thumb) %></td>
      <td><%= link_to 'Show', registers_path(register) %></td>
      <td><%= link_to 'Edit', edit_register_path(register) %></td>

    </tr>
  <% end %>
</table>


<%= link_to 'New Pet', new_register_path %>