<%#- Feeding_scehdule_index_view/Mohamed-Moubarak -%>
<p id="notice"><%= notice %></p>

<h1 class="schedule-title">Feeding Schedule</h1>
<div class="cal">
<table>
<br>
  <tbody>   

      <%= month_calendar do |date| %>
        <div>
          <%= date.day %>
          <% Event.all.each do |event| %>
              <% if event.starts_at <= date && event.ends_at >= date%>
                  <div class="event">
                    <%= link_to ("Feed " + event.pet_name), event_path(event) %>
                    <% buddy_pet = Buddy.where(:user => @current_user, :register => event.Register).first %>
                    <%if (!event.Register.nil? && event.Register.User == @current_user) || (!buddy_pet.nil? && buddy_pet.can_schedule) then %>
                          <%= link_to 'Edit', edit_event_path(event) %>
                          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
      <br>
      <div class="links">
      <%= link_to 'New Event', new_event_path %>
      </div>
      <div class="links">
      <%= link_to 'Back', feeds_path %>
      </div>
  </tbody>

</table>
</div>


