<%#- Feeding_scehdule_index_view/Mohamed-Moubarak -%>
<link href='../app/assets/stylesheets/events_stylesheet.css' rel='stylesheet'>
<p id="notice"><%= notice %></p>

<h1 class="schedule-title">Feeding Schedule</h1>
<div class="cal"> 
    <%= month_calendar do |date| %>
        <div>
            <%= date.day %>
            <% counter = 0 %>
            <% Event.all.each do |event| %>

                <% buddy_pet = Buddy.where(:user => current_user, :register => event.Register).first %>
                <% if (!event.Register.nil? && event.User == current_user) || (current_user.registers.include?(event.Register)) || (!buddy_pet.nil? && current_user == buddy_pet.user)%>
                    <% if event.starts_at <= date && event.ends_at >= date%>
                        <% counter += 1 %>
                    <% end %>
                <% end %>
            <% end %>
            <div class="event">
                <% if counter!= 0 %>
                    <%= "You have " + counter.to_s + " events" %>
                <% end %>
            </div>
        </div>
    <% end %>
      <br>
</div>

      <table style="margin: auto;">
        <tr>
          <td class="links">
            <div>
            <%= link_to 'New Event', new_event_path %>
            </div>
          </td>
          <td class="links">
            <div>
            <%= link_to 'Back', feeds_path %>
            </div>
          </td>
          </tr>
      </table>
