
<%#- Feeding_scehdule_show_view/Mohamed-Moubarak -%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Event Details:</strong>
  Food dispenser will put <%= @event.amount %> gms for  <%= @event.pet_name %> from <%= @event.starts_at %> to <%= @event.ends_at %> at <%= @event.time.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @event.amount %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<% buddy_pet = Buddy.where(:user => @current_user, :register => @event.Register).first %>
<%if @event.User == @current_user %>
                    
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', events_path %>
